.bg-dark, .navbar.navbar-inverse { background-color: #236478 !important;}

.bslib-sidebar-layout>.main {
  padding: 0rem !important;
}

.bslib-sidebar-layout>.sidebar {
  background-color: white !important;
}

.bslib-sidebar-layout>.collapse-toggle {
  background-color: white !important;
}

.leaflet-popup-content-wrapper {
  /* background: #DB0925; */
  border-radius: 3px;
  font-family: 'Raleway';
  font-size: 15px;
  }

.leaflet-control{
  font-family: 'Raleway';
}

.leaflet .legend {
  font-family: "Source Code Pro";
}

#map > div.leaflet-control-container > div.leaflet-top.leaflet-right > div.info.legend.leaflet-control > div > strong {
  font-family: 'Raleway';
}
